.DS_Store
gensrc

desktop.ini
**/hybris4intellij.properties

testclasses
*testclasses.xml
*.class
__MACOSX
*.log
build.xml
extensioninfo.xsd
platformhome.properties
items.xsd
hmc.xsd
beans.xsd
dummy.txt
readme.txt
installedSaplicenses.properties
lastenvironment.conf
temp/
log/
**/hmc/bin/
out/
*/target/
.sonar/
wro_addons.xml

# config
#/hybris/config/local.properties
/hybris/config/local_tenant_*.properties
/hybris/config/backup/
/hybris/config/licence/

# IntelliJ IDEA
.idea/
idea-module-files/
*.iml

# Eclipse
eclipsebin
org.eclipse.jdt.core.prefs

# Standard hybris commerce suite directories/files:

README
build-tools/
hybris-Mobile-Apps-SDK/
hybris-dependencies/
hybris-ems/
hybris-sbg/
installer/
licenses/
c4c-integration/
hybris123/
pom.xml

# Hybris bin directories:
hybris/bin/ext-accelerator
hybris/bin/ext-addon
hybris/bin/ext-atdd
hybris/bin/ext-atddtests
hybris/bin/ext-backoffice
hybris/bin/ext-channel
hybris/bin/ext-cockpit
hybris/bin/ext-commerce
hybris/bin/ext-content
hybris/bin/ext-customer-experience
hybris/bin/ext-data
hybris/bin/ext-eventtracking
hybris/bin/ext-integration
hybris/bin/ext-platform-backoffice
hybris/bin/ext-platform-optional
hybris/bin/ext-smartedit
hybris/bin/ext-supportability
hybris/bin/ext-template
hybris/bin/ext-webservices
hybris/bin/platform
sampleconfigurations
hybris/bin/platform/
hybris/data/

**/node_modules/
**/commonwebsrc/
**/addons/b2ccheckoutaddon/
**/addonsrc/
**/web/commonwebsrc/acceleratorstorefrontcommons/
**/web/webroot/WEB-INF/tags/addons/
**/web/webroot/_ui/addons/
**/web/webroot/WEB-INF/messages/addons/
**/web/webroot/WEB-INF/views/addons/
**/web/webroot/WEB-INF/tld/addons/
**/web/webroot/WEB-INF/classes/
**/web/webroot/cockpit
**/web/testclasses/
bin/**/hmc/bin/
**/lib/.lastupdate
**/classes/
**/resources/backoffice/*.jar

*.css.map
/hybris/config/config-local/90-local.properties
/hybris/config/config-local/91-local.properties
/hybris/config/config-local/92-local.properties

/git_stats/
package-lock.json
**/rehaustorefront/web/webroot/_ui/responsive/common/js/
